/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom Styling
 ------------------------------------------- */
.landing {
    height: 85vh;
    background-color: transparent !important;
    /*background-color: #f1f3f4;*/
}

.landing-text {
    margin: 25% auto;
}

.landing-bpm {
    font-weight: 400;
    font-size: 75px;
    margin-bottom: 25px;
}

.landing-icons {
    font-size: 40px;
    margin: 10px auto 25px auto;
}

.get-started,
.register-btn {
    font-size: 20px;
}

.index-links {
    width: 100%;
    margin-bottom: 15px;
}
.index-links a:hover {
    text-decoration: none;
}

.filter-btn {
    margin: 5px 5px 10px 5px;
}

.filters-div {
    margin-top: -15px;
}

.avg-message {
    margin-bottom: 15px;
}

.months-container {
    margin-top: 10px;
}

.month-btn {
    color: #adb5bd;
    border-color: #adb5bd;
    width: 300px;
    margin: 5px auto;
    padding: 2px 0;
    font-size: 20px;
    display: block;
}

    .month-btn:hover {
        color: #adb5bd;
        background-color: #f1f3f4;
        border-color: #adb5bd;
    }

.table-note {
    border-top: none !important;
    padding-top: 0px !important;
}

.create-img {
    max-width: 300px;
    margin: 0 auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23adb5bd' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23adb5bd' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: #adb5bd;
}

.num-input {
    width: 125px;
    margin: 0 auto 5px auto;
}

.create-btn-div {
    text-align: center !important;
}

.create-submit-btn {
    margin: 16px;
}

/* Media Queries */
@media (min-width: 576px) {
    .register-div {
        margin-left: auto;
        margin-right: auto;
    }

    .register-form {
        width: 258px;
    }

    .landing {
        background-color: #f1f3f4;
        margin-bottom: 20px;
    }

    .landing-text {
        margin: auto;
    }

    .landing-bpm {
        font-weight: 400;
        font-size: 75px;
        margin-bottom: 25px;
    }

    .landing-icons {
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        margin-top: 10px;
    }

    .get-started {
        font-size: 15px;
    }

    #create-form {
        margin: 0 auto;
        max-width: 750px;
    }

    .num-input {
        display: inline-block;
    }

    .create-img {
        max-width: 250px;
    }

    .create-btn-div {
        text-align: right !important;
        margin-top: -8px;
        margin-right: 12.5%;
    }
}
