@{
    ViewData["Title"] = "Home Page";
}

    <div class="landing">
        <div class="landing-text d-flex flex-column justify-content-center">
            <h1 class="impactTextHead text-primary text-center" style="line-height: 55px;">bpm</h1>
            <p class="impactTextP PPBldItl text-primary text-center">record and map your blood pressure readings</p>
            <h2 class="impactTextHead text-primary text-center" style="line-height: 55px;">
                <a asp-action="Create" asp-controller="Entries">Get Started >>></a>
            </h2>
        </div>
    </div>
    
    
